VITE_API_URL=https://pp2p4ln2cogxt4mi5f2wl3rqi40vskvs.lambda-url.ap-northeast-1.on.aws
VITE_GOOGLE_CLIENT_ID=683739778413-s33567540c16c7cgf284b7lvmn3ch1kr.apps.googleusercontent.com
VITE_BOOKING_URL=http://localhost:5174
